.waifu {
    display: block;
    padding: 2px 15px;
    background: hsl(0, 0%, 95%);
    margin-bottom: 20px;
    border-left: 8px solid hsl(0, 0%, 100%);
    border-radius: 5px;
}
.waifu:hover {
    border-left: 8px solid hsl(224, 100%, 64%);
}
